body{
    height: 100vh;
    background: lightgray;
    /* background: linear-gradient(
        135deg,
        #61d954,
        #2ebf75 */
    );
}
.container {
        background-color: #ffffff;
        padding: 40px 30px;
        width: 1000px;
        min-width: 400px;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 55%;
        border-radius: 5px;
        font-family: 'Poppins',sans-serif;
        box-shadow: 25px 25px 30px rgba(0,0,0,0.15);
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.row span{
    font-weight: 500;
}
input[type="range"]{
    margin-left: 50px;
    width: 700px;
    height: 3.5px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #dcdcdc;
    border-radius: 3px;
    outline: none;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: #1c1c1c;
    border-radius: 50%;
    cursor: pointer;
}
#result{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: #0be881;
}
#category{
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    color: black;
}
#weight-val {
    margin-left: 20px;
    width: 100px;
    font-size: 18px;
    letter-spacing: 1px;
    color: black;
}
#height-val {
    margin-left: 20px;
    width: 100px;
    font-size: 18px;
    letter-spacing: 1px;
    color: black;
}
#lat-val {
  margin-left: 20px;
  width: 100px;
  font-size: 18px;
  letter-spacing: 1px;
  color: black;
}
#plec {
  width: 55px;
  font-size: 18px;
  letter-spacing: 1px;
  color: black;
}
#title {
  text-align: center;
  width: 1000px;
  font-size: 30px;
  letter-spacing: 1px;
  color: black;
  font-weight: bold;
}
#activ {
  width: 350px;
  font-size: 18px;
  letter-spacing: 1px;
  color: black;
}
#plan {
  width: 55px;
  font-size: 18px;
  letter-spacing: 1px;
  color: black;
}
.select-plec ,.select-activ1 ,.select-plan .select-activ2 , {
  -webkit-appearance: button;
   -moz-appearance: button;
   -webkit-user-select: none;
   -moz-user-select: none;
   -webkit-padding-end: 20px;
   -moz-padding-end: 20px;
   -webkit-padding-start: 2px;
   -moz-padding-start: 2px;
   background-position: center right;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   border-radius: 2px;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   color: #555;
   font-size: inherit;
   margin: 0;
   overflow: hidden;
   padding-top: 2px;
   padding-bottom: 2px;
   text-overflow: ellipsis;
   white-space: nowrap;
   font-size: 18px;
}
select {
  font-size: 16px;
}
.opis {
  font-size: 16px;
  letter-spacing: 1px;
  color: black;
}
button {
  font-size: 16px
}
